header {
  background: url(./header.jpg);
  height: 120px;
  margin-bottom: 50px;
  position: relative; }
  header h1 {
    text-align: center;
    font-size: 300%; }
  header span {
    float: right;
    font-size: 150%;
    padding-right: 10px; }

.content {
  display: flex;
  justify-content: space-around; }

.content a {
  flex: 1 1 0;
  border: 1px solid lightblue;
  max-width: 30%; }
  .content a img {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 10px; }
  .content a p {
    padding-left: 10px;
    padding-right: 10px; }
  .content a span {
    float: right; }

.shirt_page {
  border: 1px solid lightblue; }
  .shirt_page .shirt_content {
    display: flex; }
  .shirt_page h2 {
    text-align: center; }
  .shirt_page .sizes .sizes_submenu {
    display: none; }
    .shirt_page .sizes .sizes_submenu li:hover {
      background-color: blue; }
  .shirt_page .sizes:hover .sizes_submenu {
    display: block; }

.cart_page {
  border: 1px solid lightblue; }
  .cart_page ul {
    width: 30%; }
    .cart_page ul li {
      border-bottom: 1px solid lightblue;
      position: relative; }
  .cart_page img {
    width: 10%; }
  .cart_page .price {
    position: absolute;
    bottom: 0;
    right: 0; }
  .cart_page p {
    font-size: 200%;
    color: lightgreen; }
